:root {
  --accent-color: #568a4a;
  --base-color: white;
  --font-medium: min(1.4rem, 4vw);
  --font-large: min(1.7rem, 4.9vw);
  --font-small: min(1rem, 3.5vw);
  --nav-font-size: 1.1rem;
  --logo-font-size: 1.5rem;
  --logo-font-color: #496343;
  --hex-font-size: min(1rem, 3vw);
}

body {
  margin: 0;
  background-color: var(--base-color);
  font-size: var(--font-medium);
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
form {
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(700px,70vw);
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.w100 {
  width: 100%;
}
/* margins */
.mg-1 {
  margin-bottom: 1rem;
}
/* Navigation Bar */

.logo {
  display: flex;
  align-items: center;
}
.img-logo {
  width: 40px;
  height: 40px;
}
.txt-logo {
  font-size: var(--logo-font-size);
  color: var(--logo-font-color);
}

.navbar {
  background-color: var(--base-color);
  color: var(--font-color);
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.nav-items {
  display: none;
}

.show-nav-items {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid;
  padding: 0.5rem;
}

.nav-item {
  padding: 0.7rem;
  font-size: var(--nav-font-size);
  text-align: left;
  color: var(--accent-color);
  border-radius: 1rem;
}
.nav-item:hover {
  background-color: var(--accent-color);
  color: var(--base-color);
}
.hamburger-menu {
  color: var(--accent-color);
  font-size: 1.5rem;
  position: absolute;
  display: block;
  right: 1rem;
  top: 0.7rem;
}

@media screen and (min-width: 600px) {
  .hamburger-menu {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-items {
    display: block;
  }
  .nav-item {
    margin: 0 2px;
    border: 1px solid;
  }
}

/* Containers */
.page-container {
  padding: 1rem;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* partials */
.mybutton {
  text-decoration: none;
  border: 1px solid;
  background-color: var(--accent-color);
  color: var(--base-color);
  border-radius: 1rem !important;
  padding: 0.8rem 3rem;
  margin: 1rem;
}
.mybutton:hover {
  color: var(--accent-color);
  background-color: var(--base-color);
}
.rlogin-button {
  background-color: var(--accent-color) !important;
  color: var(--base-color) !important;
  border-radius: 1rem !important;
}

.connected {
  background-color: var(--accent-color);
  color: var(--base-color);
  font-size: var(--font-small);
  padding: 1rem;
  text-align: center;
}

.hex {
  font-size: var(--hex-font-size);
}
