@import "./footer.css";
@import "./navbar.css";
@import "./form.css";
@import "./buttons.css";
@import "./home.css";
@import "./qr.css";
@import "./table.css";
@import "./card.css";

:root {
  --color-alpha: #75b465;
  --color-bravo: #35552e;
  --color-charlie: #ffffff;
  --color-danger: #8a0000;
  --border-radius: 16px;
  --footer-height: 10vh;
}
* {
  box-sizing: border-box;
  transition: all 200ms ease;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  color: var(--color-bravo);
  background-color: var(--color-charlie);
}
a {
  text-decoration: none;
}

h1 , h2 {
  margin: 0;
  margin-bottom: 1rem;
}
h1 {

  font-size: 2.5rem;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.9rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
}

sub {
  font-size: 0.8rem;
}

.container {
  position: relative;
  min-height: 100vh;
}

.container-wrap {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  padding-bottom: calc(var(--footer-height) + 4rem);
}

.flex-row-space-around {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mg-1 {
  margin-bottom: 1em;
}
.mg-2 {
  margin-bottom: 2em;
}

.alert {
  background-color: var(--color-alpha);
  color: var(--color-charlie);
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}

.color-danger {
  color: var(--color-danger);
}

.wallet-card {
  width: 400px;
  max-width: 90%;

  border: 1px solid;
  border-radius: var(--border-radius);
}
.wallet-card-msg {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 1rem;
  background-color: var(--color-alpha);
  color: var(--color-charlie);
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.wallet-card-img svg {
  margin-bottom: 2rem;
  height: 18rem;
}
.wallet-card-button {
  margin-bottom: 2rem;
}
