.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  height: var(--footer-height);
  text-align: center;
  width: 100vw;
  color: var(--color-charlie);
  background-color: var(--color-alpha);
}
