.form {
  border: 1px solid;
  border-radius: var(--border-radius);
  font-size: 1.3rem;
  padding: 1em;
  width: 100%;
  margin-bottom: 2rem;
}
.form-group input,
.form-group textarea {
  font-size: 1.3rem;
  background-color: #edf7eb;
  border: 1px solid;
  padding: 0.2em;
}
.form-group input {
  height: 2em;
}
.form-group textarea {
  height: 10rem;
}

label {
  margin-bottom: 0.5em;
}
.form-group {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .form-group {
    flex-direction: row;
    justify-content: space-between;
  }
  .form-group input,
  .form-group textarea {
    margin-left: 3rem;
    width: 60%;
  }
  .form-group label {
    width: 30% ;
  }
  
}
@media screen and (min-width: 1170px) {
  .form{
    
    width: 60%;
  }
}